#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.checkedHeading {
  background-color: green;
  color: black;
  padding: 10px;
  margin: 5px;
}

.checkedHeadingRed {
  background-color: red;
  color: black;
  padding: 10px;
  margin: 5px;
}